<div class='navbar navbar-fixed-top navbar-inverse hidden-lg hidden-md visible-sm visible-xs'>
  <h1 class='pull-left mobile-title'>Benjamin Iannetta, MBA</h1>
  <div class='navbar-header'>
    <button class='navbar-toggle visible-sm visible-xs' data-target='.navbar-collapse' data-toggle='collapse' type='button'>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
  </div>
  <div class='navbar-collapse collapse no-padding'>
    <ul class='nav nav-stacked'>
      <li>
        <a href='http://ca.linkedin.com/in/biannetta'>
          <i class='fa fa-linkedin fa-lg'></i>
          <span class='link-text'>LinkedIn</span>
        </a>
      </li>
      <li>
        <a href='http://www.twitter.com/biannetta'>
          <i class='fa fa-twitter fa-lg'></i>
          <span class='link-text'>Twitter</span>
        </a>
      </li>
      <li>
        <a href='http://www.facebook.com/benjamin.iannetta'>
          <i class='fa fa-facebook fa-lg'></i>
          <span class='link-text'>Facebook</span>
        </a>
      </li>
      <li>
        <a href='http://www.github.com/biannetta'>
          <i class='fa fa-github fa-lg'></i>
          <span class='link-text'>Github</span>
        </a>
      </li>
      <li>
        <a href='assets/pdf/Benjamin-Iannetta-2015.pdf'>
          <i class='fa fa-file-pdf-o fa-lg'></i>
          <span class='link-text'>Resume</span>
        </a>
      </li>
    </ul>
  </div>
</div>
