<ul class='nav nav-pills nav-stacked'>
{{#each links as |link|}}
  <li>
    <a href='{{link.link}}' target='{{link.target}}'>
      <i class='fa fa-{{link.icon}} fa-lg'></i>
      <span class='link-text'>{{link.text}}</span>
    </a>
  </li>
{{/each}}
</ul>
