@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$steele: #215c8e;
$blue: #428bca;
$grey: #f5f5f5;
$white: white;

/* Main Body */
html {
  background-color: $steele;
}
body {
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}
body > .ember-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Header */
.app-header {
  @media screen and (max-width: 500px) {
      display: inline;
  }
  background-color: $steele;
  color: $white;
  display: none;
  font-weight: bolder;
  font-size: 1.2em;
  padding-left: 15px;
  text-shadow: 0px 2px 3px #555;
}
header {
  align-items: center;
  background-color: $blue;
  color: $white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.brand {
    @media screen and (max-width: 500px) {
        display: none;
    }
   .title {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0px 2px 3px #555;
  }
  .sub-title {
    text-align: center;
  }
}
.profile {
  border: 0 solid white;
  max-height: 300px;
}

/* Content */
.container {
  @media screen and (max-width: 300px) {
      flex-direction: column;
  }
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  margin-top: 10px;
}
.content {
  text-align: justify;
}
.specialties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2em;
}
.section {
  font-weight: bold;
}
.specialties .label {
  padding: 5px;
  margin: 2px;
}
ul {
  @media screen and (max-width: 991px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
}
.link-text {
  @media screen and (max-width: 500px) {
      display: none;
  }
}

/* Footer */
footer {
  align-items: center;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.copyright {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Blogs */
.posts {
  display: flex;
  flex-direction: column-reverse;
}
.post {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}
.post-banner {
  align-items: flex-end;
  border-bottom: 4px solid $grey;
  display: flex;
  h2 {
    font-size: 2.5em;
    padding-left: 15px;
    a {
      text-decoration: none;
    }
  }
}
.date {
  align-items: stretch;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 80px;
  text-align: center;
  .month {
    background-color: red;
    border-bottom: 1px solid red;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
  }
  .day {
    font-size: 2.5em;
  }
}

/* 404 */
.fourohfour {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
.sherlock {
  align-items: center;
  background: linear-gradient($steele, $blue);
  background-color: $steele;
  color: $white;
  display: flex;
  font-size: 1.5em;
  height: 100%;
  justify-content: center;
  text-align: center;
}
.quote {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  text-align: left;
  span {
    align-items: baseline;
    display: flex;
    flex-direction: row;
  }
  .fa-quote-right {
    align-self: flex-end;
  }
}
.credit {
  color: #c3c2c2;
  font-size: 0.7em;
  font-style: italic;
  text-align: right;
}
button.return-home {
  border-color: gainsboro;
}
