@import "ember-bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$steele: #215c8e;
$blue: #428bca;
$grey: #f5f5f5;
$white: white;

/* Main Body */
html { background-color: $steele; }

body { 
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
.app-header {
  @media screen and (max-width: 500px) {
      display: inline;
      position: fixed;
      width: 100vw;
      z-index: 1000;
  }

  background-color: $steele;
  color: $white;
  display: none;
  font-weight: bolder;
  font-size: 1.2em;
  padding-left: 15px;
  text-shadow: 0px 2px 3px #555;
}

header { 
  @media screen and (max-width: 500px) {
    padding-top: 65px;
  }
  
  align-items: center;
  background-color: $blue;
  color: $white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.brand {
  @media screen and (max-width: 500px) {
      display: none;
  }
  
  .title {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0px 2px 3px #555;
  }

  .sub-title { 
    text-align: center;
  }
}
  
.profile {
  border: 0 solid white;
  max-height: 300px;
}

.centred {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/* Content */
.container {
  @media screen and (max-width: 300px) {
      flex-direction: column;
  }
  
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.2em;
  margin-top: 10px;
}

.content {
  text-align: justify;
}

.specialties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2em;
}

.section {
  font-weight: bold;
}

.specialties .badge {
  padding: 5px;
  margin: 2px;
}

.badge {
  background-color: $blue;
}

ul {
  @media screen and (max-width: 991px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
}

.link-text {
  @media screen and (max-width: 500px) {
      display: none;
  }
}

/* Footer */
footer {
  align-items: center;
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.copyright {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* 404 */
.fourohfour {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.sherlock {
  align-items: center;
  background: linear-gradient($steele, $blue);
  background-color: $steele;
  color: $white;
  display: flex;
  font-size: 1.5em;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  text-align: left;
  span {
    align-items: baseline;
    display: flex;
    flex-direction: row;
  }
  
  .fa-quote-right {
    align-self: flex-end;
  }
}

.credit {
  color: #c3c2c2;
  font-size: 0.7em;
  font-style: italic;
  text-align: right;
}

button.return-home {
  border-color: gainsboro;
}