<p class='specialties'>
  <span class='badge badge-primary'>Agile Project Management</span>
  <span class='badge badge-primary'>Desktop Application Development</span>
  <span class='badge badge-primary'>Data Analytics</span>
  <span class='badge badge-primary'>Product Deployment</span>
  <span class='badge badge-primary'>Feed and Grain Accounting</span>
  <span class='badge badge-primary'>Healthcare Revenue Management</span>
  <span class='badge badge-primary'>Commodity Brokerage and Contract Management</span>
  <span class='badge badge-primary'>Web and Mobile Development</span>
  <span class='badge badge-primary'>Systems Integration and User Testing</span>
  <span class='badge badge-primary'>Computerize Physician Order Entry</span>
</p>