<ul class='flex flex-row md:flex-col justify-around ml-10 mr-10'>
{{#each @links as |link|}}
  <li class='leading-10 p-1 text-blue-950 hover:text-blue-1000'>
    <a href='{{link.link}}' target='{{link.target}}'>
      <FaIcon class='text-4xl md:text-xl' @icon='{{link.icon}}' />
      <span class='hidden md:inline'>{{link.text}}</span>
    </a>
  </li>
{{/each}}
</ul>
