#content
  %p.lead
    During my undergrad studies at the University of Windsor, I have lead numerous group projects ranging from business to computer science related. I have maintained an above <a href="http://www1.uwindsor.ca/advisingcentre/marking-scale">11.0 GPA</a> over the past four years, having the honour to be on both the Dean of Business and Computer Science's honour roll.
  %p.lead
    After undergrad I was accepted into the MBA program at the Odette School of Business, where I spent 13 months developing leadership skills with 30 other piers. I worked in a team with 4 other piers throughout the entirety of the program, working on a variety of reports, not only for classes but also for a corporate partner, Crayola LLC.
  %p.lead
    Upon graduation I was hired on at Progressive Software Intl. in a development role. My role at Progressive Software continues to expand and develop as I have moved from development to software support.
  %p.specialties
    %span{:class => "section"} Specialties:
    %span{:class => "label label-primary"}Finance
    %span{:class => "label label-primary"}Computer Programming
    %span{:class => "label label-primary"}Web Development
    %span{:class => "label label-primary"}Analytics
    %span{:class => "label label-primary"}Presentations
