#content
  %p.lead
    Congratulations on finding my little space on the interwebs. My name is Benjamin Iannetta, an avid gamer, music lover, computer programmer, and MBA graduate.
  %p.lead
    By day I am a mild mannered support staff slash developer for an Agri-business firm located in Windsor, ON (my home town of 24 years). At night I am a student of my own accord, challenging myself to learn new languages - both programatic and non-programatic - reading up on a wide array of topics and keeping up to date on current events. 
  %p.lead
    I try to be as active as possible within the social realm of the internet (you can find my most popular interactions to the left) and embrace new technologies as they arise. Feel free to contact me day or night via email or by the social interaction of your choosing. 
  %p.specialties
    %span{:class => "section"} Specialties:
    %span{:class => "label label-primary"}Finance
    %span{:class => "label label-primary"}Computer Programming
    %span{:class => "label label-primary"}Web Development
    %span{:class => "label label-primary"}Data Analysis
    %span{:class => "label label-primary"}Presentations

