@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@google-font: 'Open Sans', sans-serif;

/* Mixins */
.center {
	text-align: center;
}

/* Structure */
html,
body {
	height: 100%;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

#footer {
	height: 60px;
	margin: 0 auto;
	background-color: #f5f5f5;
}
.copyright {
	margin-top: 10px;
	margin-bottom: 0px;
	.center;
}
.power {
	.center;
}
/* Headings */
h1.title {
	font-family: @google-font;
}
