<header>
  <img class='profile img-circle' src='assets/images/profile.png'>
  <div class='col-md-7 center hidden-xs brand'>
    <h1 class='title'>Benjamin Iannetta</h1>
    <h4 class='sub-title'>MBA. Programmer. Board Game Addict.</h4>
  </div>
</header>
{{outlet}}
<footer>
  <p class='copyright text-muted'>Copyright &copy; 2016 - Benjamin Iannetta</p>
  <p class='power small text-muted'>Powered by <a href="http://emberjs.com/">Ember JS</a> Deployed on <a href="https://firebase.google.com/">Firebase</a></p>
</footer>
