<div id='wrap'>
  <header role='banner'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-3 hidden-lg hidden-md visible-sm visible-xs spacer'></div>
      </div>
      <div class='row'>
        <div class='col-md-3 center'>
          <img class='profile img-circle' src='assets/images/profile.png'>
        </div>
        <div class='col-md-7 center hidden-sm hidden-xs' id='brand'>
          <h1 class='title'>Benjamin Iannetta</h1>
          <span class='sub-title'>MBA. Programmer. Board Game Addict.</span>
        </div>
      </div>
    </div>
  </header>
  {{outlet}}
  <div id='footer'>
    <div class='container'>
      <p class='copyright text-muted'>Copyright &copy; 2016 - Benjamin Iannetta</p>
      <p class='power small text-muted'>Powered by <a href="http://emberjs.com/">Ember JS</a> Deployed on <a href="https://firebase.google.com/">Firebase</a></p>
    </div>
  </div>
</div>
