<div class='container posts'>
    {{#each model as |post|}}
    <div class='post'>
      <div class='post-banner'>
        {{post-date month=(extract-date post.timestamp 'MMM') day=(extract-date post.timestamp 'D')}}
        <h2>{{#link-to 'blog.post' post.slug}}{{post.title}}{{/link-to}}</h2>
      </div>
    </div>
    {{else}}
    <h3>Nothing to see here</h3>
    {{/each}}
    {{outlet}}
</div>
