<div class='container'>
  <div class='row'>
    {{sidebar-link}}
    <div class='col-md-10' id='content'>
      <div id='content'>
        <p>
          Congratulations on finding my little space on the interwebs. My name is Benjamin Iannetta, an avid gamer, music lover, computer programmer, and MBA graduate.
        </p>
        <p>
          By day I am a mild mannered support staff slash developer for an <a href='http://www.prosoftxp.com' target='blank'>Agri-business firm</a> located in Windsor, ON (my home town of 27 years). At night I am a student of my own accord, challenging myself to learn new languages - both programatic and non-programatic - reading up on a wide array of topics and keeping up to date on current events.
        </p>
        <p>
          I try to be as active as possible within the social realm of the internet (you can find my most popular interactions to the left) and embrace new technologies as they arise. Feel free to contact me day or night via email or by the social interaction of your choosing.
        </p>
        <p>
          You can retrieve a copy of my latest resume
          <a href='assets/pdf/Benjamin-Iannetta-2015.pdf' target='blank' title='Benjamin Iannetta'>here</a>
        </p>
        <div class='row'>
          <p class='specialties'>
            <span class='section'>Specialties:</span>
          </p>
        </div>
        <div class='row'>
          <p class='specialties'>
            <span class='label label-primary'>Finance</span>
            <span class='label label-primary'>Computer Programming</span>
            <span class='label label-primary'>Web Development</span>
            <span class='label label-primary'>Data Analysis</span>
            <span class='label label-primary'>Presentations</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div><!-- Container -->
