<div class="centred">
  {{sidebar-link links=model}}
</div>
<div class='col-md-10 content'>
  <p>
    Congratulations on finding my little space on the interwebs. My name is Benjamin Iannetta, a business savvy computer programmer and MBA graduate.
  </p>
  <p>
    By day I am a mild mannered project analyst for an <a href='http://www.prosoftxp.com' target='blank'>Agri-business firm</a> located in Windsor, ON (my home town). At night I am a student of my own accord, challenging myself to learn new languages - both programatic and non-programatic - reading up on a wide array of topics and keeping up to date on current events.
  </p>
  <p>
    I try to be as active as possible within the social realm of the internet (you can find my most popular interactions to the left) and embrace new challenges as they arise. Feel free to contact me day or night via email or by the social interaction of your choosing.
  </p>
  <p>
    You can retrieve a copy of my latest resume
    <a href='assets/pdf/benjamin-iannetta-2018.pdf' target='blank' title='Benjamin Iannetta'>here</a>
  </p>
  <div class='row'>
    <p class='specialties'>
      <span class='section'>Skills:</span>
    </p>
  </div>
  <div class='row'>
    <p class='specialties'>
      <span class='label label-primary'>Agile Project Management</span>
      <span class='label label-primary'>Software Development</span>
      <span class='label label-primary'>Data Analytics</span>
      <span class='label label-primary'>Product Deployment</span>
    </p>
  </div>
</div>
