<div class='container mx-auto mt-4 mb-4 text-xl flex flex-col md:flex-row'>
  <div class='md:w-1/4'>
    <SidebarLink @links={{@model.links}} />
  </div>
  <div class='md:w-3/4'>
    <Profile @profile={{@model.profile}} /> 
    <div>
      <span>Skills:</span>
    </div>
    <div>
      <ProfileSkills @skills={{@model.skills}} /> 
    </div>
  </div>
</div>