<div class='container mx-auto mt-4 mb-4 text-xl flex flex-col md:flex-row'>
  <div class='md:w-1/4'>
    <SidebarLink @links={{@model.links}} />
  </div>
  <div class='md:w-3/4'>
    <p class='mb-4 pl-1 pr-1'>
      Congratulations on finding my little space on the interwebs. My name is Benjamin Iannetta, a business savvy computer programmer and MBA graduate.
    </p>
    <p class='mb-4 pl-1 pr-1'>
      By day I am a mild mannered Application Analyst for a <a class='text-blue-500' href='https://www.transformsso.ca/' target='blank'>Shared Service IT company</a> revolutionizing healthcare in Southwestern Ontario, where my home town of Windsor, ON is located. At night I am a student of my own accord, challenging myself to learn new languages - both programatic and non-programatic - reading up on a wide array of topics and keeping up to date on current events.
    </p>
    <p class='mb-4 pl-1 pr-1'>
      I try to be as active as possible within the social realm of the internet (you can find my most popular interactions to the left) and embrace new challenges as they arise. Feel free to contact me day or night via email or by the social interaction of your choosing.
    </p>
    <p class='mb-4 pl-1 pr-1'>
      You can retrieve a copy of my latest resume
      <a class='text-blue-500' href='assets/pdf/Benjamin-Iannetta-2021.pdf' target='blank' title='Benjamin Iannetta'>here</a>
    </p>
    <div>
      <span>Skills:</span>
    </div>
    <div>
      <ProfileSkills @skills={{@model.skills}} /> 
    </div>
  </div>
</div>